/*Code*/

@font-face {
    font-family: 'Source Code Pro';
    src: url("assets/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf") format('truetype');
    font-weight: 400;
}

/*Body*/

@font-face {
    font-family: 'Source Sans Pro';
    src: url("assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("assets/fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf") format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("assets/fonts/Source_Sans_Pro/SourceSansPro-Black.ttf") format('truetype');
    font-weight: 900;
}

/*Article*/

@font-face {
    font-family: Lora;
    src: url("assets/fonts/Lora/Lora-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: Lora;
    src: url("assets/fonts/Lora/Lora-Italic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}
